<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>wclookup</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/toilets.css" type="text/css">
    <link rel="stylesheet" href="/static/css/create_or_edit.css" type="text/css">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="header-flex">
            <div class="header-start">
                <img src="/static/images/M.png" alt="404"/>
                <a href="news.html" class="app-name">wclookup</a>
            </div>
            <div class="header-end">
                <button onclick=reviews_page('{% url 'toilets'  %}')>Туалеты</button>
                <button onclick=reviews_page('{% url 'tickets'  %}')>Обращения</button>
            </div>
        </div>
    </header>

    <main class="center-this-shit">
        <h1>
            Введите данные толчка
        </h1>
        <div class="colum-info-block">
            <div class="input-block">
                <label> Адрес </label>
                    <input type="text" id="address" value={{ toilet.address }}>
            </div>
            <div class="input-block">
                    <label> График </label>
                    <input type="text" id="schedule" value={{ toilet.serving }}>
            </div>
            <div class="input-block">
                <label> Широта </label>
                    <input type="text" id="latitude" value={{ toilet.latitude }}>
            </div>
            <div class="input-block">
                <label> Долгота </label>
                    <input type="text" id="longitude" value={{ toilet.longitude }}>
            </div>
            <button onclick="edit({{toilet.toilet_id}})">
                Подтвердить
            </button>
        </div>
    </main>
</div>
<div class="pre-footer-and-footer">
    <footer>
        <div class="footer-flex">
            <!--    <address>-->
            <!--      If you see any bugs, please <a href="https://youtu.be/dQw4w9WgXcQ" class="footer-contact">contact me</a>.<br>-->
            <!--    </address>-->
            <h6>
                Toilet paper team 2021
            </h6>
        </div>
    </footer>
</div>
<script>
        function reviews_page(href_url) {
            location.href = href_url;
        }

        async function edit(id) {
            var address = document.getElementById('address').value;
            var schedule = document.getElementById('schedule').value;
            var latitude = document.getElementById('latitude').value;
            var longitude = document.getElementById('longitude').value;
            console.log(address);
            console.log(schedule);
            console.log(latitude);
            console.log(longitude);
            const name = 'accessToken';
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) {
                head = parts.pop().split(';').shift();
            }
            cock_and_ball = 'https://wclookup.online/api/toilets/' + id;
            const response = await fetch(cock_and_ball,{
                method: "PATCH",
                headers: {"Access-Token" : head, 'Access-Control-Allow-Origin' : 'https://wclookup.online', 'Access-Control-Allow-Methods' : 'PATCH', "Content-Type" : 'application/json'},
                body: JSON.stringify({
                "address": address,
                "schedule" : schedule,
                "latitude" : latitude,
                "longitude" : longitude
                })
            });
            {#document.location.reload();#}
        }
</script>
</body>
</html>