<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>wclookup</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="stylesheet" href="/static/css/toilets.css" type="text/css">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="header-flex">
            <div class="header-start">
                <img src="/static/images/M.png" alt="404"/>
                <a href="news.html" class="app-name">wclookup</a>
            </div>
            <div class="header-end">
                <button onclick=reviews_page('{% url 'toilets'  %}')>Туалеты</button>
                <button onclick=reviews_page('{% url 'tickets'  %}')>Обращения</button>
            </div>
        </div>
    </header>

    <main class="center-this-shit">
        <h1>
            Толчки, кста
        </h1>
        <div class="colum-info">
            <div class="flex-for-info">
                <div class="info-headers">
                    <span>Идентификатор</span>
                    <span>Идентификатор пользователя</span>
                    <span>Рейтинг</span>
                    <span>Дата</span>
                    <span>Отзыв</span>
                </div>
                <div class="flex-for-info-end">
                    <span style="width: 94px">Та самая нейронка</span>
                </div>
            </div>
            {% for review in reviews_list %}
                <div class="flex-for-info">
                    <div class="flex-for-info-start">
                        <span>{{ review.review_id }}</span>
                        <span>{{ review.userId }}</span>
                        <span>{{ review.reting }}</span>
                        <span>{{ review.date }}</span>
                        <span>{{ review.text }}</span>
                    </div>
                    <div class="flex-for-info-end">
                        <button name="delete" onclick="delete_review({{review.review_id}})">Удалить</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
</div>
<div class="pre-footer-and-footer">
    <footer>
        <div class="footer-flex">
            <!--    <address>-->
            <!--      If you see any bugs, please <a href="https://youtu.be/dQw4w9WgXcQ" class="footer-contact">contact me</a>.<br>-->
            <!--    </address>-->
            <h6>
                Toilet paper team 2021
            </h6>
        </div>
    </footer>
</div>

<script>
        async function delete_review(id) {
        const name = 'accessToken';
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            head = parts.pop().split(';').shift();
        }
        cock_and_ball = 'https://wclookup.online/api/reviews/' + id + '/';
        const response = await fetch(cock_and_ball,{
            method: "DELETE",
            headers: {"Access-Token" : head, 'Access-Control-Allow-Origin' : 'https://wclookup.online', 'Access-Control-Allow-Methods' : 'DELETE''},
        });
        document.location.reload();
    }

    function reviews_page(href_url) {
        location.href = href_url;
    }

</script>
</body>
</html>